<h1 class="port">Portfolio</h1>
<div class="portfolio">

	<figure>
		<img src="/img/1.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-1</figcaption>
	</figure>

	<figure>
		<img src="/img/2.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-2</figcaption>
	</figure>

	<figure>
		<img src="/img/3.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-3</figcaption>
	</figure>

	<figure>
		<img src="/img/4.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-4</figcaption>
	</figure>

	<figure>
		<img src="/img/5.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-5</figcaption>
	</figure>

	<figure>
		<img src="/img/6.jpg" alt="GMO Food" style="width: 30%">
		<figcaption>GMO Food-6</figcaption>
	</figure>
	
</div>